.from-delivery-notation{
    box-sizing: border-box;
    background-color: #4B4B4F;
 
    padding: 24px;
    font-size: 15px;
    line-height: 18.89px;
    margin-bottom: 30px;
    @media (min-width: 768px) {
        height: 102px;
    width: 356px;
    margin-left: 16px;
    }
    
}